<div class="doctors_search_menu">
  <div class="doctors_search_menu_desc">
    Choose doctor
  </div>

  <div class="input-group">
    <input #doctor_search_name type="text" class="form-control" placeholder="Name/surname"
           (keyup)="findByFilter(doctor_search_name.value)">
    <ngx-bootstrap-multiselect [options]="specializationOptions" [(ngModel)]="specializationIdsFilter"
                               [texts]="specializationsTexts"
                               (ngModelChange)="onChangeSpecializations()"></ngx-bootstrap-multiselect>
  </div>
</div>

<div class="doctors">
  <div class="row" *ngFor="let doctor of doctors">
    <div class="doctor card">
      <div class="doctor_avatar_block">
        <img class="doctor_avatar" src="assets/img/doctor_blue.svg" alt="Аватар">
        <div class="doctor_rank">
          {{doctor.rank}}
        </div>
      </div>
      <div class="doctor_description">
        <div class="doctor_name">
          {{doctor.user.name}} {{doctor.user.surname}}
        </div>
        <div class="doctor_specializations_block">
          <ul class="doctor_specializations">
            <li class="doctor_specialization" *ngFor="let spec of doctor.specializations">
              {{spec.name}}
            </li>
          </ul>
        </div>
        <div class="doctor_experience" *ngIf="doctor.workExperience % 10 < 5 && doctor.workExperience % 10 > 0">
          Work experience: {{doctor.workExperience}} years
        </div>
        <div class="doctor_experience" *ngIf="doctor.workExperience == 1">
          Work experience: {{doctor.workExperience}} year
        </div>
        <div class="doctor_age_group">
          Age group: {{doctor.ageGroup}}
        </div>
      </div>
      <div class="doctor_busy" *ngIf="doctor.consultations === null ||
                                    (doctor.consultations | freeConsultation).length === 0">
        Doctor does not have free consultations
      </div>
      <div class="doctor_schedule"
           *ngIf="doctor.consultations != null && (doctor.consultations | freeConsultation).length > 0">
        <div>
          Free consultations
        </div>
        <ul class="consultations">
          <li class="consultation" *ngFor="let consultation of doctor.consultations | freeConsultation">
            <a class="waves-effect waves-light btn">{{consultation.date | date:'medium'}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
