<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="logo_block navbar-brand">
      <img class="logo" src="assets/img/logo.png" alt="Логотип">
    </div>
    <div class="service-info collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Врачи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О нас</a>
        </li>
      </ul>
    </div>
    <app-login></app-login>
  </div>
</nav>
