<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/doctors"><img class="logo" src="../../../assets/img/logo.png" alt="Логотип"></a>
    <div class="nav_menu">
      <a mat-button [routerLink]="'/doctors'"> Doctors </a>
      <a mat-button [routerLink]="'/'"> About us </a>
      <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'"> Sign in </a>
      <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/registration'"> Sign up </a>
      <a mat-button *ngIf="isLoggedIn" [routerLink]="'/profile'"> Personal profile </a>
      <a mat-button *ngIf="isLoggedIn" (click)="logout()"> Logout </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
