.auth-block {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.auth-form {
  font-size: 20px;
  height: 160px;
  width: 400px;
  border: black 1px groove;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
}
