<nav>
  <div class="nav-wrapper light-blue">
    <a routerLink="/doctors"><img class="logo" src="assets/img/logo.png" alt="Логотип"></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/doctors">
          Врачи
        </a>
      </li>
      <li>
        <a href="#">О нас</a>
      </li>
      <li>
        <a routerLink="/auth/login">
          Вход
        </a>
      </li>
      <li>
        <a routerLink="/auth/registration">
          Регистрация
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
