<nav>
  <div class="nav-wrapper light-blue">
    <a routerLink="/doctors"><img class="logo" src="assets/img/logo.png" alt="Логотип"></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/doctors">
          Doctors
        </a>
      </li>
      <li>
        <a (click)="check()">About us</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/auth/login">
          Sign in
        </a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/auth/registration">
          Sign up
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/profile">
          Personal profile
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
