<div class="user_info">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">My info</span>
        <p>
          Name: {{user.name}}
        </p>
        <p>
          Surname: {{user.surname}}
        </p>
        <p>
          BirthDate: {{user.birthDate}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="consultations">
  <div class="consultations_title">
    My consultations
  </div>
  <div class="collection">
    <div class="collection-item" *ngFor="let consultation of consultations">
      <div>
        Time: {{consultation.date}}
      </div>
    </div>
  </div>
</div>
</div>
