<div class="doctors_search_menu">
  <div class="doctors_search_menu_desc">
    Выберите врача
  </div>

  <div class="input-group">
    <input #doctor_search_name type="text" class="form-control" placeholder="ФИО врача"
           (keyup)="findByFilter(doctor_search_name.value)">
    <ngx-bootstrap-multiselect [options]="specializationOptions" [(ngModel)]="specializationIdsFilter"
                               [texts] = "specializationsTexts"
                               (ngModelChange)="onChangeSpecializations()"></ngx-bootstrap-multiselect>
  </div>
</div>
