.header_info_block {
  height: 100px;
  padding: 20px 0 0 20px;
}

.navigate_menu_block {
  padding-top: 20px;
}

.navigate_list {
  font-size: 20px;
}

.doctor_specialization {
  display: inline;
  margin-right: 80px;
}


