.doctor {
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  font-size: 18px;
}

.doctor_description {
  margin-right: 60px;
}

.doctor_avatar_block {
  margin-right: 20px;
}

.doctor_avatar {
  height: 100px;
  width: 100px;
}

.doctor_name {
  font-size: 22px;
}
.doctor_specializations {
  padding: 0;
  margin: 0;
}

.doctor_specialization {
  display: inline;
}

.doctor_specialization:after {
  content: ",";
}

.doctor_specialization:last-child:after {
  content: "";
}

.consultation_date {
  margin-right: 10px;
}

