<div class="doctors">
  <div class="doctor card" *ngFor="let doctor of doctors">
    <div class="doctor_avatar_block">
      <img class="doctor_avatar" src="assets/img/doctor_blue.svg" alt="Аватар">
      <div class="doctor_rank">
        {{doctor.rank}}
      </div>
    </div>
    <div class="doctor_description">
      <div class="doctor_name">
        {{doctor.user.name}} {{doctor.user.surname}}
      </div>
      <div class="doctor_specializations_block">
        <ul class="doctor_specializations">
          <li class="doctor_specialization" *ngFor="let spec of doctor.specializations">
            {{spec.name}}
          </li>
        </ul>
      </div>
      <div class="doctor_experience" *ngIf="doctor.workExperience % 10 < 5 && doctor.workExperience % 10 > 0">
        Стаж: {{doctor.workExperience}} года
      </div>
      <div class="doctor_experience" *ngIf="doctor.workExperience % 10 >= 5 || doctor.workExperience % 10 == 0">
        Стаж: {{doctor.workExperience}} лет
      </div>
      <div class="doctor_age_group">
        Возрастная группа: {{doctor.ageGroup}}
      </div>
    </div>
    <div class="doctor_busy" *ngIf="doctor.consultations === null ||
                                    (doctor.consultations | freeConsultation).length === 0">
      У доктора нет свободных консультаций
    </div>
    <div class="doctor_schedule" *ngIf="doctor.consultations != null && (doctor.consultations | freeConsultation).length > 0">
      <div>
        Свободные консультации
      </div>
      <div class="nav">
        <li class="nav-item" *ngFor="let consultation of doctor.consultations | freeConsultation">
          <button type="button" class="btn btn-primary consultation_date">
            {{consultation.date | date:'medium'}}
          </button>
        </li>
      </div>
    </div>
  </div>
</div>


