.doctor_info {
  height: 230px;
  width: 600px;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
  border-bottom: #42AAFF 1px dotted;
  padding: 10px 0 0 10px;
}
.doctor_avatar_block {
  margin-right: 30px;
}
.doctor_avatar {
  display: block;
  height: 100px;
  width: 100px;
  float: left;
}

.doctor_avatar_block {
  width: 100px;
  height: 120px;
  float: left;
}
